
.App {
  text-align: center;
}

* {
  box-sizing: border-box; 
}
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
#main {
  display: flex;
  flex: 1;
}
#main > .calender {
  padding: 1em;
  flex: 1;
  order: 2;
  /* background: teal; */
  margin-top: 1vh;
}
#main > .tasks {
  padding: 1em;
  flex: 1;
  order: 1;
  margin-top: 1vh;
}

footer {
  background: yellowgreen;
  height: 5vh;
}

header{
  font-size: 3.5vw;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5em;
  color: white;
  background:#385723;
}

footer, article, nav, aside {
  padding: 1em;
}

@media screen and (max-width: 1050px){
  #main {
    display: flex;
    flex-direction: column;
  }
}